/* Estilos Comunes */
body, html {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

.brand {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 17px;
}

.brand:hover {
  color: #000000;
  transform: scale(1.05);
}

.brand-content {
  display: flex;
  align-items: center;
}

.brand-icon {
  margin-right: 1px;
  transition: transform 0.2s ease-in-out, color 0.15s ease;
}

.brand-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
  color: #000000;
}

.brand-text {
  font-size: 1.2em;
}

.register-link, .login-link, .forgot-link, .confirmar-link {
  color: green;
  cursor: pointer;
  text-decoration: underline;
}

.register-link:hover, .login-link:hover, .forgot-link:hover, .confirmar-link:hover {
  color: darkgreen;
}

/* Estilos del Login y Forgot */
.login-body, .forgot-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
}

.login-form-group, .forgot-form-group {
  margin-bottom: 20px;
}

.btn.btn-primary {
  background-color: #00e100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #00e100;
  text-align: center;
  border-radius: 10px;
  color: black;
  margin-top: 50px;
  padding: 10px 20px;
  width: 100%;
}

.btn.btn-primary:hover {
  background-color: #a1ffa1;
}

.login-wrapper, .forgot-wrapper {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  width: 620px;
  padding: 40px 50px;
  border-radius: 10px;
  font-size: 1.2em;
}

.form-control {
  font-size: 1.2rem;
  padding: 12px;
}

.btn.btn-primary {
  font-size: 1.2rem;
  padding: 15px 25px;
}

/* login.css */

/* Mensajes de éxito y error */
.mensaje-success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  color: #155724;
  border-radius: 5px;
  margin-top: 10px;
}

.mensaje-error {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  color: #721c24;
  border-radius: 5px;
  margin-top: 10px;
}

/* Diseño del componente confirmar */
.confirmar-circle {
  background-color: #00e100;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmar-icon {
  font-size: 3rem;
  color: white;
}

.confirmar-texto-gracias {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.confirmar-texto-iniciar {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #555555;
}

.confirmar-link {
  font-size: 1.2rem;
  text-decoration: underline;
  display: block;
  margin: 0 auto;
  width: fit-content;
}